<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Game Login</title>
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    <main>
        <div id="root">
          <h1>Welcome to The Game</h1>
          <div id="user">
            <input type="text" id="username" placeholder="Enter Username">
            <input type="password" id="pass" placeholder="Enter Password">
            <input type="password" id="pass-repeat" placeholder="Repeat Password" hidden=true>
            <button type="submit" id="userSubmit">Submit</button>
          </div>
          <button id="toggle">New? Create User</button>
          
        </div>  
    </main>
    <script src="../scripts/login.js"></script>
  </body>
</html>